In [3]:
import pandas as pd
import numpy  as np

In [6]:
df_airlines=pd.read_csv('Airlines_data/airlines.csv')
df_airlines.head(2)

  airline_id            airline_name
0         AA  American Airlines Inc.
1         DL    Delta Air Lines Inc.

In [13]:
df_airports=pd.read_csv('Airlines_data/airports.csv', encoding = "ISO-8859-1")
df_airports.head(2)

,airport_id,airport_name,city,state,latitude,longitude
0,ABE,Lehigh Valley International Airport,Allentown,PA,40.65236,-75.4404
1,ABI,Abilene Regional Airport,Abilene,TX,32.41132,-99.6819

In [15]:
df_events_US=pd.read_csv('Airlines_data/events_US.csv', encoding = "ISO-8859-1")
df_events_US.head(2)

     date       city state                                         event_name
0  2/1/17  St. Louis    MO                                 NHL Winter Classic
1  4/1/17   New York    NY  National Board of Review of Motion Pictures Aw...

In [16]:
df_fares=pd.read_csv('Airlines_data/fares.csv')
df_fares.head(2)

,quarter,airline_id,origin_airport,destination_airport,distance,10,20,30,40,50,...,2410,2420,2430,2440,2450,2460,2470,2480,2490,2500
0,1,AA,CLT,SGF,708,2,6,11,15,32,...,0,0,0,0,0,0,0,0,0,0
1,1,DL,DTW,SAN,1956,13,4,3,2,8,...,0,0,5,0,0,0,0,0,0,28

In [21]:
df_flight_traffic=pd.read_csv('Airlines_data/flight_traffic.csv')
df_flight_traffic.head(2)

,year,month,day,airline_id,origin_airport,destination_airport,scheduled_departure,actual_departure,taxi_out,wheels_off,...,cancelled,diverted,scheduled_elapsed,actual_elapsed,distance,airline_delay,weather_delay,air_system_delay,security_delay,aircraft_delay
0,2017,1,31,AA,CLT,PHX,1619,1615.0,18.0,1633.0,...,0,0,277.0,261.0,1773,NaN,NaN,NaN,NaN,NaN
1,2017,1,12,AA,FLL,CLT,1305,1256.0,24.0,1320.0,...,0,0,123.0,129.0,632,NaN,NaN,NaN,NaN,NaN

In [18]:
df_weather=pd.read_csv('Airlines_data/weather.csv')
df_weather.head(2)

,airport_id,airport_name,latitude,longitude,elevation,datetime,temperature,visibility,wind_direction,wind_speed,snow_depth,cloud_status
0,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-01T00:54:00,3.9,16093,220,7.2,NaN,NaN
1,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-01T06:54:00,0.6,16093,260,6.2,NaN,NaN

In [122]:
df_stock_prices=pd.read_csv('Airlines_data/stock_prices.csv')
df_stock_prices.head(2)

  timestamp     AA       UA     B6     OO     AS       NK      WN     DL    HA
0    4/6/18  51.12  69.6501  20.12  55.70  61.44  37.8576  55.865  53.67  40.2
1    4/5/18  52.14  70.6900  20.64  56.05  62.11  38.3000  56.860  54.21  41.2

In [36]:
set(df_flight_traffic['destination_airport'].unique())-set(df_flight_traffic['origin_airport'].unique())

{'BPT'}

In [35]:
df_flight_traffic['destination_airport'].unique()

array(['PHX', 'CLT', 'ATL', 'SFO', 'IND', 'OMA', 'MIA', 'CMH', 'OGG',
       'DFW', 'CLE', 'SEA', 'DSM', 'FLL', 'RNO', 'LAS', 'TPA', 'JFK',
       'SMF', 'MCO', 'PHL', 'DCA', 'BOS', 'SAN', 'IAD', 'MKE', 'GEG',
       'SJC', 'MCI', 'ORD', 'IAH', 'LAX', 'MSP', 'OAK', 'BOI', 'PIT',
       'DEN', 'AUS', 'ONT', 'STL', 'KOA', 'LIH', 'HNL', 'LGA', 'TUS',
       'COS', 'EGE', 'RDU', 'SAT', 'OKC', 'SNA', 'EWR', 'SJU', 'PDX',
       'BDL', 'SLC', 'SYR', 'RSW', 'DTW', 'JAX', 'PBI', 'MDT', 'MSY',
       'ILM', 'BNA', 'HDN', 'GUC', 'BWI', 'PSP', 'MEM', 'MFE', 'STX',
       'ORF', 'LBB', 'STT', 'ABQ', 'ICT', 'TUL', 'HPN', 'BUF', 'ORH',
       'LGB', 'CVG', 'VPS', 'MDW', 'CHS', 'ROC', 'PNS', 'EYW', 'SAV',
       'RIC', 'SDF', 'PVD', 'XNA', 'JAC', 'DAY', 'GRR', 'CAK', 'SRQ',
       'HOU', 'MSO', 'LIT', 'ALB', 'BIL', 'GPT', 'ROA', 'ELP', 'ANC',
       'GNV', 'EVV', 'BIS', 'FAY', 'DAL', 'HSV', 'AVL', 'GSP', 'ECP',
       'MSN', 'BTR', 'MLB', 'BHM', 'JAN', 'GSO', 'LEX', 'BMI', 'DAB',
       'CHO', 'MHT', 'CAE', 'CHA', 'ABE', 'FSD', 'FNT', 'TLH', 'AVP',
       'PWM', 'AGS', 'TYS', 'MOB', 'CID', 'BZN', 'PHF', 'TRI', 'LCH',
       'LRD', 'BRO', 'PIA', 'MAF', 'ATW', 'AZO', 'CRP', 'SCE', 'AMA',
       'LNK', 'HRL', 'CLL', 'ERI', 'LAN', 'MTJ', 'BTV', 'FAR', 'AEX',
       'SBN', 'LFT', 'GRB', 'GRK', 'MLI', 'CSG', 'DHN', 'CRW', 'SHV',
       'MGM', 'RST', 'BQK', 'MLU', 'SGF', 'OAJ', 'VLD', 'PGD', 'TTN',
       'ITO', 'PPG', 'MYR', 'ACY', 'LBE', 'GJT', 'BFL', 'FLG', 'ASE',
       'RDM', 'FAT', 'IDA', 'TVC', 'RAP', 'EUG', 'FWA', 'SBP', 'JMS',
       'MFR', 'MKG', 'MRY', 'SBA', 'CMX', 'BUR', 'ACV', 'ESC', 'INL',
       'PIH', 'MBS', 'MOT', 'HLN', 'ISN', 'SUN', 'DLH', 'RKS', 'GCC',
       'HYS', 'RDD', 'APN', 'BRD', 'CDC', 'HIB', 'TWF', 'PSC', 'PAH',
       'FCA', 'COD', 'ITH', 'YUM', 'DRO', 'DVL', 'ABR', 'BGM', 'SGU',
       'BTM', 'SAF', 'GFK', 'RHI', 'SPI', 'CPR', 'PLN', 'IMT', 'GTF',
       'GUM', 'ISP', 'BET', 'SCC', 'CDV', 'YAK', 'OTZ', 'BLI', 'BRW',
       'SIT', 'WRG', 'JNU', 'KTN', 'FAI', 'PSG', 'ADQ', 'OME', 'SPS',
       'FSM', 'SJT', 'GCK', 'LAW', 'GGG', 'ACT', 'TXK', 'MEI', 'PIB',
       'HOB', 'CWA', 'ELM', 'ABY', 'GTR', 'EWN', 'LAR', 'CIU', 'MQT',
       'MMH', 'LWS', 'ROW', 'EKO', 'BJI', 'BQN', 'PSE', 'SWF', 'TYR',
       'GRI', 'BPT', 'EAU', 'OTH', 'IAG', 'PBG', 'ABI', 'LSE', 'STS',
       'ADK', 'COU', 'IFP', 'BGR', 'MHK', 'TOL', 'ALO', 'UST', 'SUX',
       'WYS', 'ACK', 'JLN', 'MVY', 'HYA', 'DLG', 'GST', 'AKN', 'CKB',
       'UIN', 'CGI', 'PUB'], dtype=object)

In [37]:
df_flight_traffic.loc[df_flight_traffic.origin_airport=='BUF']

,year,month,day,airline_id,origin_airport,destination_airport,scheduled_departure,actual_departure,taxi_out,wheels_off,...,cancelled,diverted,scheduled_elapsed,actual_elapsed,distance,airline_delay,weather_delay,air_system_delay,security_delay,aircraft_delay
1825,2017,1,5,B6,BUF,JFK,540,529.0,7.0,536.0,...,0,0,88.0,69.0,301,NaN,NaN,NaN,NaN,NaN
1826,2017,1,25,B6,BUF,JFK,540,529.0,8.0,537.0,...,0,0,88.0,90.0,301,NaN,NaN,NaN,NaN,NaN
1827,2017,1,27,B6,BUF,JFK,540,531.0,11.0,542.0,...,0,0,88.0,97.0,301,NaN,NaN,NaN,NaN,NaN
1879,2017,1,2,B6,BUF,JFK,829,818.0,7.0,825.0,...,0,0,84.0,69.0,301,NaN,NaN,NaN,NaN,NaN
1948,2017,1,3,B6,BUF,JFK,1050,1047.0,13.0,1100.0,...,0,0,76.0,83.0,301,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561425,2017,12,22,EV,BUF,EWR,1850,1848.0,11.0,1859.0,...,0,0,93.0,68.0,282,NaN,NaN,NaN,NaN,NaN
562199,2017,12,3,EV,BUF,EWR,1522,1516.0,13.0,1529.0,...,0,0,83.0,83.0,282,NaN,NaN,NaN,NaN,NaN
562200,2017,12,11,EV,BUF,EWR,1522,1708.0,40.0,1748.0,...,0,0,83.0,103.0,282,0.0,0.0,126.0,0.0,0.0
562683,2017,12,23,EV,BUF,LGA,1819,1843.0,9.0,1852.0,...,0,0,89.0,72.0,292,NaN,NaN,NaN,NaN,NaN
564526,2017,12,11,UA,BUF,EWR,600,600.0,26.0,626.0,...,0,0,85.0,81.0,282,NaN,NaN,NaN,NaN,NaN

In [47]:
df_flight_traffic.loc[(df_flight_traffic.month==1)
            & (df_flight_traffic.destination_airport=='BUF')& (df_flight_traffic.day==1)]

,year,month,day,airline_id,origin_airport,destination_airport,scheduled_departure,actual_departure,taxi_out,wheels_off,...,cancelled,diverted,scheduled_elapsed,actual_elapsed,distance,airline_delay,weather_delay,air_system_delay,security_delay,aircraft_delay
1986,2017,1,1,B6,FLL,BUF,1500,1452.0,13.0,1505.0,...,0,0,174.0,169.0,1166,NaN,NaN,NaN,NaN,NaN
9101,2017,1,1,WN,LAS,BUF,955,951.0,8.0,959.0,...,0,0,250.0,234.0,1986,NaN,NaN,NaN,NaN,NaN
9159,2017,1,1,WN,MCO,BUF,2215,2225.0,5.0,2230.0,...,0,0,150.0,136.0,1011,NaN,NaN,NaN,NaN,NaN
15023,2017,1,1,B6,MCO,BUF,1915,1947.0,11.0,1958.0,...,0,0,152.0,145.0,1011,25.0,0.0,0.0,0.0,0.0
24957,2017,1,1,B6,JFK,BUF,1839,1833.0,23.0,1856.0,...,0,0,88.0,86.0,301,NaN,NaN,NaN,NaN,NaN
30343,2017,1,1,WN,BWI,BUF,1055,1053.0,10.0,1103.0,...,0,0,65.0,62.0,281,NaN,NaN,NaN,NaN,NaN
34026,2017,1,1,AA,CLT,BUF,2220,2221.0,9.0,2230.0,...,0,0,97.0,82.0,546,NaN,NaN,NaN,NaN,NaN

In [48]:
df_weather.loc[df_weather.airport_id=='BUF'].head(10)

,airport_id,airport_name,latitude,longitude,elevation,datetime,temperature,visibility,wind_direction,wind_speed,snow_depth,cloud_status
0,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-01T00:54:00,3.9,16093,220,7.2,NaN,NaN
1,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-01T06:54:00,0.6,16093,260,6.2,NaN,NaN
2,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-01T12:54:00,-0.6,16093,250,5.1,NaN,9.0
3,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-01T18:54:00,2.2,16093,240,5.7,NaN,9.0
4,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-02T00:54:00,-0.6,16093,170,1.5,NaN,NaN
5,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-02T06:54:00,-1.7,16093,130,2.1,NaN,9.0
6,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-02T12:54:00,-0.6,16093,30,2.6,NaN,9.0
7,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-02T18:54:00,4.4,16093,40,2.1,NaN,9.0
8,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-03T00:54:00,3.9,16093,120,3.1,NaN,9.0
9,BUF,"BUFFALO NIAGARA INTERNATIONAL, NY US",42.9408,-78.7358,218.2,2017-01-03T06:54:00,5.0,16093,140,3.1,NaN,9.0

In [62]:
df_stock_prices.describe()

,AA,UA,B6,OO,AS,NK,WN,DL,HA
count,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000
mean,47.863211,68.253974,20.788039,41.095000,79.822684,46.577652,55.283460,50.130434,45.161553
std,4.335259,6.954955,1.499153,8.663919,11.084383,8.080543,6.138288,4.104723,6.790032
min,37.380000,52.820000,16.930000,27.700000,57.750000,32.090000,38.400000,38.940000,32.850000
25%,45.242500,63.350000,19.780000,35.368750,69.735000,39.217500,52.662500,47.810000,38.987500
50%,47.695000,68.480000,20.845000,36.850000,80.495000,47.280000,55.960000,50.130000,45.975000
75%,51.030000,73.607500,22.050000,49.337500,89.185000,53.555000,59.172500,52.920000,50.362500
max,58.470000,82.030000,23.750000,60.300000,100.240000,59.740000,66.290000,60.130000,60.300000

In [72]:
df_stock_prices.loc[df_stock_prices['timestamp'].str[-2:]=='17']

    timestamp     AA     UA     B6     OO     AS     NK     WN     DL     HA
66   12/29/17  52.03  67.40  22.34  53.10  73.51  44.85  65.45  56.00  39.85
67   12/28/17  52.46  67.54  22.54  53.60  74.57  45.29  65.87  56.35  41.00
68   12/27/17  52.40  67.12  22.50  53.55  74.37  44.99  65.96  56.12  40.65
69   12/26/17  52.85  67.35  22.58  53.85  74.84  45.30  65.98  56.43  41.20
70   12/22/17  52.59  67.25  22.44  53.80  74.28  45.22  65.97  56.03  40.90
..        ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
312    1/9/17  47.08  71.28  22.05  35.65  87.47  56.13  50.30  49.69  56.60
313    1/6/17  46.21  71.37  21.83  36.20  86.98  56.27  49.93  49.68  55.50
314    1/5/17  45.89  70.93  22.27  36.60  87.76  58.07  50.47  49.73  56.95
315    1/4/17  46.70  73.02  22.65  37.45  89.18  58.10  51.30  50.70  57.85
316    1/3/17  46.30  72.71  22.39  36.55  88.00  57.09  49.98  49.48  56.15

[251 rows x 10 columns]

In [81]:
df_stock_prices.loc[(df_stock_prices['timestamp'].str[-2:]=='17') & (df_stock_prices['timestamp'].str[:2]=='1/') ]

    timestamp     AA     UA     B6     OO     AS     NK     WN     DL     HA
297   1/31/17  44.25  70.47  19.61  35.40  93.82  54.04  52.31  47.24  50.95
298   1/30/17  44.90  71.72  19.36  35.00  94.16  53.77  52.35  47.67  51.20
299   1/27/17  46.95  74.42  19.65  36.60  95.13  54.25  52.70  49.70  51.50
300   1/26/17  49.59  75.38  21.10  36.95  95.90  57.01  53.92  50.90  52.80
301   1/25/17  47.91  73.59  21.77  36.65  93.38  56.08  49.46  50.19  51.80
302   1/24/17  47.54  73.18  21.42  36.55  92.86  55.50  49.65  49.44  54.95
303   1/23/17  46.94  72.75  21.04  36.15  93.07  55.82  49.94  48.77  53.90
304   1/20/17  48.00  75.24  21.41  36.85  94.71  56.68  51.09  50.50  55.75
305   1/19/17  47.26  74.02  21.36  36.30  94.22  55.81  50.07  49.70  55.20
306   1/18/17  47.64  74.00  21.49  36.75  92.93  56.40  50.38  50.30  56.65
307   1/17/17  46.75  73.74  21.34  36.25  93.41  55.22  50.24  50.33  56.25
308   1/13/17  47.65  74.32  21.76  37.00  94.32  56.58  51.15  51.23  57.55
309   1/12/17  48.10  74.00  21.82  36.35  93.26  56.32  51.01  50.89  55.65
310   1/11/17  48.64  75.04  22.78  36.80  93.80  56.08  51.68  51.44  57.05
311   1/10/17  48.48  73.66  22.51  36.55  92.00  58.05  51.34  50.93  56.45
312    1/9/17  47.08  71.28  22.05  35.65  87.47  56.13  50.30  49.69  56.60
313    1/6/17  46.21  71.37  21.83  36.20  86.98  56.27  49.93  49.68  55.50
314    1/5/17  45.89  70.93  22.27  36.60  87.76  58.07  50.47  49.73  56.95
315    1/4/17  46.70  73.02  22.65  37.45  89.18  58.10  51.30  50.70  57.85
316    1/3/17  46.30  72.71  22.39  36.55  88.00  57.09  49.98  49.48  56.15

In [82]:
df_stock_prices['timestamp'].str[:2]

0      4/
1      4/
2      4/
3      4/
4      4/
       ..
375    10
376    10
377    10
378    10
379    10
Name: timestamp, Length: 380, dtype: object

In [123]:
df_stock_prices['day']=pd.to_datetime(df_stock_prices['timestamp']).dt.day
df_stock_prices['month']=pd.to_datetime(df_stock_prices['timestamp']).dt.month
df_stock_prices['year']=pd.to_datetime(df_stock_prices['timestamp']).dt.year

In [125]:
df_stock_prices

,timestamp,AA,UA,B6,OO,AS,NK,WN,DL,HA,day,month,year
0,4/6/18,51.12,69.6501,20.12,55.70,61.44,37.8576,55.865,53.67,40.20,6,4,2018
1,4/5/18,52.14,70.6900,20.64,56.05,62.11,38.3000,56.860,54.21,41.20,5,4,2018
2,4/4/18,52.04,69.9900,20.48,55.45,61.22,37.7000,56.360,53.86,40.50,4,4,2018
3,4/3/18,51.47,69.1900,20.15,54.80,60.11,37.2200,55.970,53.72,38.75,3,4,2018
4,4/2/18,49.78,66.7700,19.73,52.75,57.75,36.3500,54.340,51.95,36.85,2,4,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,10/7/16,37.73,52.8200,17.39,28.50,68.11,42.2400,38.470,38.95,49.50,7,10,2016
376,10/6/16,38.17,53.9800,17.62,28.52,69.09,42.9900,39.170,39.94,50.82,6,10,2016
377,10/5/16,37.87,53.8200,17.86,28.06,68.31,43.1600,39.100,40.32,50.83,5,10,2016
378,10/4/16,37.63,53.7300,17.83,27.89,68.71,43.6400,39.160,40.15,50.63,4,10,2016
379,10/3/16,37.70,53.2500,17.66,27.70,67.09,43.7400,39.740,39.98,49.99,3,10,2016

In [138]:
df_stock_prices_casc=df_stock_prices[['day','month','year']]
df_stock_prices_casc['airline_id'] = 'AA'
# df_stock_prices_casc['stock_price'] = df_stock_prices['AA']
# df_stock_prices_long=df_stock_prices_casc

In [140]:
df_stock_prices_casc['airline_id'] = 'AA'
df_stock_prices_casc

/anaconda3/envs/c1_womens_summit/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     day  month  year airline_id
0      6      4  2018         AA
1      5      4  2018         AA
2      4      4  2018         AA
3      3      4  2018         AA
4      2      4  2018         AA
..   ...    ...   ...        ...
375    7     10  2016         AA
376    6     10  2016         AA
377    5     10  2016         AA
378    4     10  2016         AA
379    3     10  2016         AA

[380 rows x 4 columns]

In [127]:
# df_stock_prices_casc=df_stock_prices[['day','month','year']]
df_stock_prices_long

     day  month  year airline_id  stock_price
0      6      4  2018         AA        51.12
1      5      4  2018         AA        52.14
2      4      4  2018         AA        52.04
3      3      4  2018         AA        51.47
4      2      4  2018         AA        49.78
..   ...    ...   ...        ...          ...
375    7     10  2016         AA        37.73
376    6     10  2016         AA        38.17
377    5     10  2016         AA        37.87
378    4     10  2016         AA        37.63
379    3     10  2016         AA        37.70

[380 rows x 5 columns]

In [130]:
for col in ['UA','B6','OO','AS','NK','WN','DL','HA']:
    df_stock_prices_casc=df_stock_prices[['day','month','year']]
    df_stock_prices_casc['airline_id'] =col
    df_stock_prices_casc['stock_price'] = df_stock_prices[col]
    df_stock_prices_long.append(df_stock_prices_casc)

/anaconda3/envs/c1_womens_summit/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/envs/c1_womens_summit/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [131]:
df_stock_prices_long

     day  month  year airline_id  stock_price
0      6      4  2018         AA        51.12
1      5      4  2018         AA        52.14
2      4      4  2018         AA        52.04
3      3      4  2018         AA        51.47
4      2      4  2018         AA        49.78
..   ...    ...   ...        ...          ...
375    7     10  2016         AA        37.73
376    6     10  2016         AA        38.17
377    5     10  2016         AA        37.87
378    4     10  2016         AA        37.63
379    3     10  2016         AA        37.70

[380 rows x 5 columns]

In [114]:
df_stock_prices_len=df_stock_prices_casc

In [103]:
df_flight_traffic

,year,month,day,airline_id,origin_airport,destination_airport,scheduled_departure,actual_departure,taxi_out,wheels_off,...,cancelled,diverted,scheduled_elapsed,actual_elapsed,distance,airline_delay,weather_delay,air_system_delay,security_delay,aircraft_delay
0,2017,1,31,AA,CLT,PHX,1619,1615.0,18.0,1633.0,...,0,0,277.0,261.0,1773,NaN,NaN,NaN,NaN,NaN
1,2017,1,12,AA,FLL,CLT,1305,1256.0,24.0,1320.0,...,0,0,123.0,129.0,632,NaN,NaN,NaN,NaN,NaN
2,2017,1,14,AA,FLL,CLT,1305,1314.0,11.0,1325.0,...,0,0,123.0,108.0,632,NaN,NaN,NaN,NaN,NaN
3,2017,1,18,AA,FLL,CLT,1305,1304.0,19.0,1323.0,...,0,0,123.0,129.0,632,NaN,NaN,NaN,NaN,NaN
4,2017,1,25,AA,FLL,CLT,1305,1301.0,11.0,1312.0,...,0,0,123.0,116.0,632,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567668,2017,12,17,UA,IAH,LGA,1624,1619.0,14.0,1633.0,...,0,0,210.0,183.0,1416,NaN,NaN,NaN,NaN,NaN
567669,2017,12,17,UA,IAH,PBI,2000,2000.0,20.0,2020.0,...,0,0,154.0,141.0,956,NaN,NaN,NaN,NaN,NaN
567670,2017,12,17,UA,CLE,ORD,740,733.0,28.0,801.0,...,0,0,95.0,90.0,316,NaN,NaN,NaN,NaN,NaN
567671,2017,12,17,UA,DEN,MSP,1253,1246.0,12.0,1258.0,...,0,0,115.0,105.0,680,NaN,NaN,NaN,NaN,NaN
567672,2017,12,17,UA,DEN,SJC,1913,1910.0,14.0,1924.0,...,0,0,161.0,136.0,948,NaN,NaN,NaN,NaN,NaN

In [115]:
df_stock_prices_len.append(df_stock_prices_casc)

     day  month  year airline_id  stock_price
0      6      4  2018         UA      69.6501
1      5      4  2018         UA      70.6900
2      4      4  2018         UA      69.9900
3      3      4  2018         UA      69.1900
4      2      4  2018         UA      66.7700
..   ...    ...   ...        ...          ...
375    7     10  2016         UA      52.8200
376    6     10  2016         UA      53.9800
377    5     10  2016         UA      53.8200
378    4     10  2016         UA      53.7300
379    3     10  2016         UA      53.2500

[760 rows x 5 columns]